/* Reset scroll behavior to show all items */
body {
    scroll-behavior: auto;
}

<<<<<<< HEAD
#menu {
    width: 100%;
    min-height: 100vh;
    background-color: white;
    padding: 4rem;
}

=======
.outer-container {
    display: flex;
    align-items: flex-start;
    flex-wrap: nowrap;
}

    .outer-container aside {
        width: 250px;
        padding-top: 2rem;
        background-color: #000000;
    }

    .products {
        flex-basis: auto;
        width: 100%;
        padding-top: 3rem;
    }

        .products > div {
            display: grid;
            place-items: center;
        }

        #menu {
            width: 100%;
            min-height: 100vh;
            background-color: white;
            padding-top: 2rem;
        }

>>>>>>> master
    #menu > h1 {
        font-size: 2rem;
        text-align: center;
        padding: 2rem;
    }


<<<<<<< HEAD
    #menu > div {
=======
    #menu > div:not(.outer-container) {
>>>>>>> master
        display: flex;
        flex-wrap: wrap; /* Allow items to wrap to the next line */
        justify-content: space-evenly;
    }
<<<<<<< HEAD

.menuCard {
    background-color: white;
    width: 30%; /* Adjust width as needed */
    margin-bottom: 2rem; /* Add some space between cards */
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(0,0,0,0.495);
}

    .menuCard > div {
=======
.menuCard {
    background-color: white;
    width: 350px; /* Adjust width as needed */
    margin-bottom: 2rem; /* Add some space between cards */
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(0,0,0,0.495);
} .menuCard > div {
>>>>>>> master
        border-radius: 20px 20px 0 0;
        background-color: #a6a6ae; /* Adjust as needed */
        display: flex;
        align-items: center;
        padding: 2rem;
        color: black;
        height: 4rem;
<<<<<<< HEAD
    }

    .menuCard > main {
=======
    } .menuCard > main {
>>>>>>> master
        padding: 2rem;
        display: flex;
        flex-direction: column;
        align-items: center;
<<<<<<< HEAD
    }

        .menuCard > main > img {
            height: 15rem;
            width: 100%;
            object-fit: contain;
        }

        .menuCard > main > h5 {
            font-size: 1.8rem;
        }

        .menuCard > main > p {
            text-transform: uppercase;
            letter-spacing: 2px;
        }

        .menuCard > main > button {
            background-color: #a6a6ae;
            
=======
    } .menuCard > main > img {
            height: 15rem;
            width: 100%;
            object-fit: contain;
        } .menuCard > main > h5 {
            font-size: 1.8rem;
        } .menuCard > main > p {
            text-transform: uppercase;
            letter-spacing: 2px;
        } .menuCard > main > button {
            background-color: #a6a6ae;
            margin:1rem;
>>>>>>> master
            color: black;
            border: none;
            padding: 1rem 2rem;
            width: 100%;
            border-radius: 10px;
            cursor: pointer;
<<<<<<< HEAD
        }

    .menuCard:hover {
        background-color: lightgray; /* Adjust as needed */
    }

@media screen and (max-width: 600px) {
=======
        } .menuCard:hover {
        background-color: lightgray; /* Adjust as needed */
    } @media screen and (max-width: 600px) {
>>>>>>> master
    #menu > div {
        flex-direction: column;
        align-items: center;
    }

    .menuCard {
        width: 80%; /* Adjust width for smaller screens */
    }
}
