/* Reset scroll behavior to show all items */
body {
    scroll-behavior: auto;
}

.outer-container {
    display: flex;
    align-items: flex-start;
    flex-wrap: nowrap;
}

    .outer-container aside {
        width: 250px;
        padding-top: 2rem;
        background-color: #000000;
    }

.products {
    flex-basis: auto;
    width: 100%;
    padding-top: 3rem;
}

    .products > div {
        display: grid;
        place-items: center;
    }

#menu {
    width: 100%;
    min-height: 100vh;
    background-color: white;
    padding-top: 2rem;
}

    #menu > h1 {
        font-size: 2rem;
        text-align: center;
        padding: 2rem;
    }


    #menu > div:not(.outer-container) {
        display: flex;
        flex-wrap: wrap;
        /* Allow items to wrap to the next line */
        justify-content: space-evenly;
    }

.menuCard {
    background-color: white;
    width: 350px;
    margin-bottom: 2rem; /* Add some space between cards */
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.495);
}

    .menuCard > div {
        border-radius: 20px 20px 0 0;
        background-color: #a6a6ae;
        display: flex;
        align-items: center;
        padding: 2rem;
        color: black;
        height: 4rem;
        margin-bottom: 1rem; /* Add margin at the bottom of the header */
    }

    .menuCard > main {
        padding: 2rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 1rem; /* Add margin at the bottom of the main content */
    }

        .menuCard > main > img {
            height: 15rem;
            width: 100%;
            object-fit: cover;
            border-radius: 20px 20px 0 0;
            margin-bottom: 1rem;
        }

        .menuCard > main > h5 {
            font-size: 1.8rem;
            margin-bottom: 0.5rem; /* Add margin below the heading */
        }

        .menuCard > main > p {
            text-transform: uppercase;
            letter-spacing: 2px;
            margin-bottom: 1rem; /* Add margin below the paragraph */
        }

        .menuCard > main > .button-container {
            display: flex;
            gap: 1rem; /* Add space between buttons */
            margin-top: 1rem; /* Add margin above the button container */
        }

        .menuCard > main > button {
            background-color: lightgray;
            color: black;
            border: none;
            padding: 1rem 2rem;
            flex-grow: 1; /* Allow buttons to take equal width */
            border-radius: 10px;
            cursor: pointer;

        }

           



    .menuCard:hover {
        background-color: lightgray;
        /* Adjust as needed */
    }

@media screen and (max-width: 600px) {
    #menu > div {
        flex-direction: column;
        align-items: center;
    }

    .menuCard {
        width: 80%;
        /* Adjust width for smaller screens */
    }
}
